.vscode/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
*.vsix
*.txt
*.png
!assets/logo.png
launch.json
tasks.json
RUN.md
editor.js
extension.js
lorem.js
random.js
timestamp.js
uuid.js
